.DS_Store
*.o
*Cint.h
*Cint.cxx
*Cint.cc
.depend
*.rootmap
*.so
*.dylib
*.root
*.bin
*.dat
*.info
*~
*.pcm
*.swp
*.pyc
/doc/dOxy*
/bin/larlite
/GNUmakefile
/UserDev/*
!/UserDev/bin
!/UserDev/RecoTool
!/UserDev/BasicTool
!/UserDev/SelectionTool
