.DS_Store
*.o
*Cint.h
*Cint.cxx
*Cint.cc
*Dict.h
*Dict.cxx
*Dict.cc
.depend
*.rootmap
*.so
*.dylib
*.root
*.bin
*.dat
*.info
*~
*.pcm
*.swp
*.pyc
*.png
*.ipynb
/doc/dOxy*
/bin/larlite
/GNUmakefile
/UserDev/*
!/UserDev/bin
!/UserDev/RecoTool
!/UserDev/BasicTool
!/UserDev/SelectionTool
!/UserDev/CosmicTagTool
!/UserDev/LArLiteApp
